{% extends "base_generic.html" %}

{% block content %}

<div class="container text-=center">
    <h1 class="display-3">Error 500 - Internal server error</h1>
    <a href="/" class="btn  btn-primary btn-lg btn-danger" role="button">Go back to home page</a>
</div>


{% endblock %}

{% block title %}<title>ERRROR 500 - Urban Bus</title>{% endblock %}

{% block topmenu %}
<li><a href="/">Home</a></li>
<li><a href="/routes">Routes</a></li>
<li><a href="/tickets">Tickets</a></li>
<li><a href="/about">About us</a></li>
<li><a href="/announcements">Announcements</a></li>
<li><a href="/contact">Contact us</a></li>
{% endblock %}